*-shim.sbt
*.iml
*.ipr
*.iws
*.sbtserver*
.DS_Store
.cache
.eclipse
.history
/*.log
/*.log.*
/*.iml
/.cache
/.classpath
/.idea
/.sbtserver
/.idea_modules
/.sbtserver
/.project
/.settings
/.target
/RUNNING_PID
/db
/dist/
/lib
/logs/
/modules/
/out
/project/*-shim.sbt
bin/
conf/logback.xml
conf/evolutions/default/1.sql
dist
logs
out
project/project
project/target
project/play-fork-run.sbt
project/sbt-ui.sbt
server.pid
target/
test-result
tmp
