*-shim.sbt
*.iml
*.ipr
*.iws
.DS_Store
.cache
.eclipse
.history
/*.iml
/.cache
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/.target
/RUNNING_PID
/db
/dist/
/lib
/logs/
/modules/
/out
/project/*-shim.sbt
bin/
dist
logs
out
project/project
project/target
server.pid
target/
test-result
tmp
