html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 60px 0px 51px 0px;
    overflow: scroll;
}

.container {
    height: 100%;
    min-width: 500px;
    max-width: 1280px;
}
.modal-header, h4.header, button.close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

@media (max-width: 767px) {
    body {
        padding-top: 208px;
    }

    .navbar-btn {
        width: 100%;
    }
}

nav.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
}

div.container-fluid {
    max-width: 1280px;
    background-color: transparent;
}

label.error {
    color: #FF0000;
}

label.control-label {
    width: 100%;
}

div.modal-content {
    min-width: 300px;
}

.pad-v-sm {
    padding: 15px 0;
}

img.thumbnail {
    width: 120px;
    height: 90px;
    margin: 0;
}

li.list-group-item {
    padding: 5px 10px;
}

div.media-body {
    padding: 5px 0;
}

a.list-group-item {

}

.color-primary {
    background-color: #4CAF50 !important;
    color: #FFFFFF !important;
}

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
}