h1 {
    margin: 0;
}
#playlist-title-bar {
    padding: 10px 10px 0px 10px;
}

.player {
    min-height: 200px;
    min-width: 200px;
    display: 'none';
}

.main-player-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 720px;
}

.embed-player-wrapper{
    position: absolute;
    right: 300px;
    left: 0;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.player-right-panel {
    overflow: hidden;
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0;
}

.player-track-list {
    position: absolute;
    overflow-y: scroll;
    right: -17px;
    top: 34px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.player-controls {
    z-index: 3;
    height: 34px;
}

.track-title {
    height: 2em;
    line-height: 1em;
    font-size: small;
    font-weight: bolder;
    margin: 0px 2px 0px 0px;
}

.track-author {
    height: 1em;
    line-height: 1em;
    font-size: smaller;
}

.track-item.active, track-item.active:hover {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
}