@(user: Users, isOwner: Boolean = false)

@script = {
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
    <script src='@routes.Assets.versioned("javascripts/utility.js")'></script>
    @if(isOwner) {
        <script src='@routes.Assets.versioned("javascripts/profilePagePr.js")'></script>
    } else {
        <script src='@routes.Assets.versioned("javascripts/profilePage.js")'></script>
    }
}

@main(user.getUsername(), script) {

<h1><i class="fa fa-user"></i> @user.getUsername()</h1>
@if(isOwner) {
    <a href="#new-playlist" role="button" class="btn btn-default" data-toggle="modal">New Playlist</a>
}
<hr>

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a data-toggle="tab" role="tab" href="#public-pl">Public</a></li>
    @if(isOwner) {
        <li role="presentation"><a data-toggle="tab" role="tab" href="#private-pl">Private</a></li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="public-pl" ></div>
    @if(isOwner){
        <div class="tab-pane fade" id="private-pl"></div>
    }
</div>


} @* main closing bracket *@