@(playlistId: String)

<div class="modal" id="add-item" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:40px 50px;">
                <label class="control-label" for="input_url">Link:</label>
                <div class="row">
                    <div class="span12">
                        <div class="input-group">
                            <input id="input_url" type="url" class="form-control" placeholder="link to video or audio">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="checkUrl()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <label id="url-error" class="error" style="display = none;"></label>
                <div id="preview-container" style="display: none;">
                    <hr>
                    <div class="panel">
                        <div class="media pad-v-sm">
                            <div class="media-left">
                                <img id="src-img" src="" height="90" width="120">
                            </div>
                            <div class="media-body">
                                <h4 id="src-title-lb" class="media-heading"></h4>
                                <p id="src-author-lb"></p>
                            </div>
                        </div>
                    </div>
                    <form role="form" action="@routes.Playlists.addItem(playlistId)" method="post">
                        <input id="src-title" name="src-title" type="hidden" value="">
                        <input id="src-author" name="src-author" type="hidden" value="">
                        <input id="src-img-url" name="src-img-url" type="hidden" value="">
                        <input id="src-url" name="src-url" type="hidden" value="">
                        <input id="src-type" name="src-type" type="hidden" value="">
                        <button class="btn btn-success btn-block">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>