@(playlist: Playlist, user: Users)

@import statics.DomainData

@main(playlist.getTitle()) {

    <div class="modal" id="add-item" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" action="@routes.Playlists.addItem(playlist.getId())" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="item_url">
                                url</label>
                            <input id="item_url" type="text" name="item_url" class="form-control" placeholder="url">
                        </div>
                        <button class="btn btn-success btn-block">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="delete-playlist" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <h4>Are you sure you want to delete "@playlist.getTitle()"?</h4>
                </div>
                <div class="modal-footer">
                    <form role="form" action="@routes.Playlists.remove(playlist.getId())" method="post">
                        <button class="btn btn-danger btn-ok" type="submit">Delete</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <h1>@playlist.getTitle()</h1>
    @if(playlist.getSize() > 0) {
    <a href="@routes.Playlists.play(playlist.getId())">
        <button class="btn btn-submit">play</button>
    </a>
    }
    <a href="#delete-playlist" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
<!--    <form action="@routes.Playlists.remove(playlist.getId())" method="post">
        <button class="btn btn-danger" type="submit" name="remove-playlist" value="delete"></button>
    </form>-->

    <a href="#add-item" role="button" class="btn btn-default" data-toggle="modal">Add Item</a>
    <!--<form action="@routes.Playlists.addItem(playlist.getId())" method="post">
        <label>Video URL</label>
        @* &lt;!&ndash;TODO: EXTRA SOURCE FILE ID FROM GIVEN LINK
             &ndash;&gt; *@
        <input id="user_url" name="url" placeholder="link to source" required>
        <select id="srcTypeSelector" name="source_type">
            @* &lt;!&ndash;TODO: AUTO-DETECT DOMAIN OF GIVEN LINK AND SWITCH OPTIONS ACCORDINGLY
                 &ndash;&gt; *@
            @for(srcDomain <- DomainData.domainList){
            <option value="@srcDomain">@srcDomain</option>
            }
        </select>
        <button>Add</button>
    </form>-->

    <p>Links: @playlist.getSize()</p>
    <hr>
    <hr>
    <table id="pl-item-container">
        @for(item <- playlist.getTracks()) {
            <tr>
                <td>@item.getLink()</td>
                    <td>
                        <form action="@routes.Playlists.removeItem(playlist.getId())" method="post">
                            <input type="hidden" name="it-id" value="@item.getId()">
                            <button>Delete</button>
                        </form>
                    </td>
            </tr>
        }
    </table>
}