@(playlist: Playlist, items: List[PlaylistItem], owner: Users)

@scripts = {
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
    <script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
    <script src='@routes.Assets.versioned("javascripts/player.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/player.css")'>
}

@main(playlist.getTitle(), scripts) {

<div id="playlist-title-bar">
    <h1>@playlist.getTitle()</h1>
    <label><i class="fa fa-user"></i>
        <a class="custom-anchor" href="@routes.UserProfile.showProfile(owner.getUsername())">
        @owner.getUsername()
        </a>
    </label>
</div>
<hr>
<div class="main-player-wrapper">
    <div class="embed-player-wrapper embed-responsive">
        <div id="yt-player" class="player embed-responsive-item"></div>
        <iframe id="sc-player" class="player embed-responsive-item" src="https://w.soundcloud.com/player/?url="
                scrolling="no" frameborder="no"></iframe>
    </div>
    <div class="player-right-panel">
        <div class="btn-group btn-group-justified player-controls box-shadow--2dp">
            <a href="javascript:void(0)" id="btn-prev" class="btn btn-secondary" onclick="playPrev()">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
            <a href="javascript:void(0)" id="btn-play" class="btn btn-secondary" onclick="playingPlayer.play()">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
            <a href="javascript:void(0)" id="btn-pause" class="btn btn-secondary" onclick="playingPlayer.pause()">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
            <a href="javascript:void(0)" id="btn-next" class="btn btn-secondary" onclick="playNext()">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
            <a href="javascript:void(0)" id="btn-repeat" type="button" class="btn btn-secondary" data-toggle="button"
               aria-pressed="false" autocomplete="off" onclick="toggleRepeatAll()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </a>
            @if(session.get("username") == playlist.getOwner().getUsername()) {
            <a href="@routes.Playlists.edit(playlist.getId())" class="btn btn-secondary">
                <span class="glyphicon glyphicon-edit"></span></a>
            }
        </div>
        <div id="track-list" class="list-group player-track-list">
        </div>
    </div>
</div>
}