@(playlist: Playlist, user: Users)

@import statics.DomainData

@defining(session.containsKey("user_id") && (session.get("user_id").equals(user.getId()))) { isOwner =>
@main(playlist.getTitle()) {
    <h1>@playlist.getTitle()</h1>
    @if(isOwner){
    <form action="@routes.Playlists.remove()" method="post">
        <input type="hidden" name="pl-id" value="@playlist.getId()">
        <button>delete</button>
    </form>
    <hr>
    <form action="@routes.Playlists.addItem(playlist.getId())" method="post">
        <label>Video URL</label>
        @* <!--TODO: EXTRA SOURCE FILE ID FROM GIVEN LINK
         --> *@
        <input id="user_url" type="url" name="url" placeholder="link to source" required>
        <select id="srcTypeSelector" name="source_type">
            @* <!--TODO: AUTO-DETECT DOMAIN OF GIVEN LINK AND SWITCH OPTIONS ACCORDINGLY
             --> *@
            @for(srcDomain <- DomainData.domainList){
                <option value="@srcDomain">@srcDomain</option>
            }
        </select>
        <button>Add</button>
    </form>
    }
    <hr>
    <table id="pl-item-container">
        @for(item <- playlist.getListItems()) {
            <tr id="new item @item.getTitle()">
                @*<td>@item.getTitle()</td>*@
                <td>@item.getLink()</td>
                @if(isOwner){
                    <td>
                        <form action="@routes.Playlists.removeItem(playlist.getId())" method="post">
                            <input type="hidden" name="it-id" value="@item.getId()">
                            <button>Delete</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
}
}