@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title id="@title">@title</title>

        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        @scripts

        <meta name="viewport" content="width=device-width, initial-scale=1">
        @if(!session().containsKey("username")) {
            @* scripts used for login *@
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            @* scripts used for signup *@
            <script type="text/javascript" src='@routes.Assets.versioned("javascripts/jquery.validate.js")'></script>
            <script type="text/javascript" src='@routes.Assets.versioned("javascripts/signup.js")' ></script>
        }
    </head>


    @* HEADER *@

    @if(!session().containsKey("username")){
        @user.login()
        @user.signup()
    }

    @* END HEADER *@

    <hr>

    <body>
    <div id="container">
        @navigation()

        @if(flash.containsKey("success")) {
        @*<p>Success!:</p>*@
        <p class="text-center alert alert-success">@flash.get("success")</p>
        } else { @if(flash.containsKey("error")) {
        @*<p>Error!:</p>*@
        <p class="text-center alert alert-danger">@flash.get("error")</p>
        }}

        @content
    </div>
    </body>
    <hr>
    @* FOOTER *@
</html>
