@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title id="@title">@title</title>

        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        @scripts

    </head>


    @* HEADER *@
    <ul>
        <li><a href="@routes.Application.index()">Home</a></li>
        @if( session.containsKey("username") ) {
            <li>Hello, @session.get("username")</li>
            <li><a href="@routes.Application.logout()">Logout</a> </li>
            <li>
                <a href='@routes.UserProfile.showProfile(session.get("username"))'>Profile</a>
            </li>
        } else {
        <li><a href="@routes.Application.login()">Login</a></li>
        <li><a href="@routes.Application.signup()">Sign Up!</a></li>
        }
        <li>
            <form action="@routes.Playlists.create()" method="post">
                <input type="text" name="title" class="form-control input-lg"
                       placeholder="Playlist Title" required>
                <button>Create</button>
            </form>
        </li>
    </ul>
    @* END HEADER *@


    <hr>

    <body>
    @* Display flash messages *@
    <center>
        <font color ="green">
            @if(flash.containsKey("success")) {
            <p>Success Flash Message:</p>
            @flash.get("success")
            }
        </font>
        <font color = "red">
            @if(flash.containsKey("error")) {
            <p>Error Flash Message:</p>
            @flash.get("error")
            }
        </font>
    </center>

        <div id="content">
            @content
        </div>
    </body>
    <hr>
    @* FOOTER *@
</html>
